{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div class="card-title text-white h2 pt-4 px-4">Acceder al sistema
    <p>
        {% blocktrans %}Si ya tiene una cuenta, por favor
    <a href="{{ login_url }}">inicie sesión</a>.{% endblocktrans %}
    </p>
</div>
<div class="card-body border-top">
<form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="form-group">
    <label for="username">Usuario o correo electrónico</label>
    <input type="text" class="form-control" name="login" id="username" placeholder="juanito" aria-describedby="emailHelp" style="background-color: #004b39 !important; color: white !important; border: 0px;">
    </div>
    <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="password" class="form-control" name="password" id="password" style="background-color: #004b39 !important; color: white !important; border: 0px;">
    </div>
    <p>
        <label for="id_remember">Recordarme:</label>
        <input type="checkbox" name="remember" id="id_remember">
    </p>
    <div class="d-flex justify-content-between">
        <a href="/accounts/password/reset/">¿Has olvidado tu contraseña?</a>
        <button type="submit" class="btn btn-primary card-link float-right">Iniciar sesión</button>
    </div>
</form>
</div>
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    <p>
        {% blocktrans %}Already have an account? Then please <a href="">sign in</a>.{% endblocktrans %}
    </p>
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button tags="prominent,signup" type="submit" %}
                {% trans "Sign Up" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
