<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">TraNsCOnSuL S.A.</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">Inicio</li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="index.html">
                    <i class="align-middle" data-feather="sliders"></i>
                    <span class="align-middle">Panel</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-profile.html">
                    <i class="align-middle" data-feather="user"></i>
                    <span class="align-middle">Profile</span>
                </a>
            </li>
            

            <li class="sidebar-item {% if request.path == '/admin' %} active {% endif %}">
                <a class="sidebar-link" href="{% url 'about' %}">
                    <i class="align-middle" data-feather="book"></i>
                    <span class="align-middle">Blank</span>
                </a>
            </li>

            <li class="sidebar-item {% if request.path == '/admin/trabajadores/' %} active {% endif %}">
                <a class="sidebar-link" href="{% url 'trabajador' %}">
                    <i class="align-middle" data-feather="book"></i>
                    <span class="align-middle">Trabajadores</span>
                </a>
            </li>

            <li class="sidebar-item {% if request.path == '/admin/testimonios/' %} active {% endif %}">
                <a class="sidebar-link" href="{% url 'testimonio' %}">
                    <i class="align-middle" data-feather="book"></i>
                    <span class="align-middle">Testimonio</span>
                </a>
            </li>


            <li class="sidebar-item {% if request.path == '/admin/disponible/' %} active {% endif %}">
                <a class="sidebar-link" href="{% url 'disponible' %}">
                    <i class="align-middle" data-feather="book"></i>
                    <span class="align-middle">Disponibilidad</span>
                </a>
            </li>

            <li class="sidebar-item {% if request.path == '/admin/citas/' %} active {% endif %}">
                <a class="sidebar-link" href="{% url 'citas' %}">
                    <i class="align-middle" data-feather="book"></i>
                    <span class="align-middle">Citas</span>
                </a>
            </li>

            <li class="sidebar-item {% if request.path == '/admin/tramite/' %} active {% endif %}">
                <a class="sidebar-link" href="{% url 'tramite' %}">
                    <i class="align-middle" data-feather="book"></i>
                    <span class="align-middle">Tramite</span>
                </a>
            </li>
        </ul>
    </div>
</nav>