{% load static %}
<link href="{% static 'adminassets/css/bootstrap.min.css' %}" rel="stylesheet">

<link href="{% static 'adminassets/fonts/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'adminassets/css/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'adminassets/css/select.bootstrap5.css' %}" rel="stylesheet">
<link href="{% static 'adminassets/css/dataTables.bootstrap5.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/sweetalert2.min.css' %}" rel="stylesheet">

<link href="{% static 'adminassets/css/app.css' %}" rel="stylesheet">

<link href="{% static 'adminassets/css/main.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

<style>
    .card-header {
        background-color: #005a45ee;

    }
    .card-header .card-title  {
        color: #ced4da;
    }
    
</style>