{% extends "../base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Disponible
{% endblock title %}

{% block extra_head %}
<meta name="description" content="">
<meta name="keywords" content="">
<style>

</style>
{% endblock extra_head %}

{% block extra_content %}

<div class="container-fluid p-0">

  <h1 class="h3 mb-3">Disponibles</h1>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="row card-header justify-between">
          <div class="col-6">

            <h5 class="card-title mb-0">Listado de Disponibilidad</h5>
          </div>
          <div class="col-6 text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">Crear Nuevo</button>
          </div>
        </div>
        <div class="card-body">
          <table id="mdatatable" class="display">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Reservadas</th>
                <th>Tipo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for disponible in disponibles %}
                <tr>
                    <td>{{ disponible.fecha | date:"d / m / Y"  }}</td>
                    <td class="text-center">{{disponible.disponible}}</td>
                    <td class="text-center">{{disponible.reservas}}</td>

                    <td class="px-2">
                      {% if disponible.abogado %}
                        <span class="badge bg-primary d-block">Abogado</span>
                      {% else %}
                        <span class="badge bg-secondary d-block">Cita</span>
                      {% endif %}
                    </td>
                    <td class="text-end">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-bs-placement="top" title="Ver">
                            <i class="bi bi-eye"></i>
                            <span class="visually-hidden">View</span>
                            </button>
                            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#editModal" data-object="{{ disponible }}" data-address="{% url 'updateDisponible' disponible.id %}" data-toggle="tooltip" data-bs-placement="top" title="Editar">
                            <i class="bi bi-pencil-square"></i>
                            <span class="visually-hidden">Edit</span>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-address="{% url 'deleteDisponible' disponible.id %}" onclick="deleteAlert(this)" data-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                            <i class="bi bi-trash"></i>
                            <span class="visually-hidden">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="" >
            {% csrf_token %}
            <div class="row">

              <div class="mb-3 col-md-12">
                <label for="fecha1" class="col-form-label">Fecha</label>
                <input type="date" class="form-control" name="fecha1" id="fecha1" autofocus required>
              </div>
              <!-- <div class="mb-3 col-md-6">
                <label for="fecha2" class="col-form-label">Fecha final</label>
                <input type="date" class="form-control" name="fecha2" id="fecha2">
              </div> -->
            </div>
          <div class="mb-3">
            <label for="cantidad" class="col-form-label">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" id="cantidad" value="10" required>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="abogado" id="abogado" >
            <label class="form-check-label" for="abogado">
              Abogado
            </label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>

    </div>
  </div>
</div>

{% endblock extra_content %}

{% block extra_scripts %}
<script>
  var editModal = document.getElementById('editModal')
  editModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    console.log(button.getAttribute('data-object'));
    var obj = JSON.parse(button.getAttribute('data-object'));
    var address = button.getAttribute('data-address')
    var form = editModal.querySelector('.modal-body form')

    var modalTitle = editModal.querySelector('.modal-title')
    var fecha1 = editModal.querySelector('.modal-body #fecha1')
    // var fecha2 = editModal.querySelector('.modal-body #fecha2')
    var cantidad = editModal.querySelector('.modal-body #cantidad')
    var abogado = editModal.querySelector('.modal-body #abogado')

    if (obj) {
        form.setAttribute('action', address)
        modalTitle.textContent = 'Editar Disponibilidad ' + obj.fecha
        fecha1.value = obj.fecha
        cantidad.value = obj.disponible
        if (obj.abogado) {
          abogado.setAttribute('checked', obj.abogado)
        } else {
          abogado.removeAttribute('checked')
        }
    } else {
        form.setAttribute('action', "{% url 'storeDisponible' %}")
        modalTitle.textContent = 'Nuevo Disponibilidad'
        fecha1.value = ''
        cantidad.value = ''
        abogado.removeAttribute('checked')
    }
  })
</script>
{% endblock extra_scripts %}