{% extends "./../base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Inicio
{% endblock title %}

{% block extra_head %}
<meta name="description" content="">
<meta name="keywords" content="">
<style>

</style>
{% endblock extra_head %}

{% block extra_content %}
	<!-- Blog -->
    <section class="ftco-section bg-light">
		<div class="container">
		  <div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Nuestro Blog</span>
			  <h2>Publicaciones recientes</h2>
			</div>
		  </div>
		  <div class="row d-flex">
			  {% for p in posts %}
				  
			  <div class="col-md-4 d-flex ftco-animate">
				  <div class="blog-entry justify-content-end w-100">
					  <div class="text px-4 py-4">
						  <h3 class="heading mb-0"><a href="{% url 'showArt' p.slug %}#show">{{ p.titulo }}</a></h3>
					  </div>
				  <a href="{% url 'showArt' p.slug %}#show" class="block-20" style="background-image: url({% if p.foto %}/media/{{ p.foto }}{% else %}{% static '/assets/img/icon_oficial.png' %}{% endif %});">
				  </a>
				  <div class="text p-4 float-right d-block">
					  <div class="topper d-flex align-items-center">
						  <div class="one py-2 pl-3 pr-1 align-self-stretch">
							  <span class="day">{{p.publicado  | date:"d" }}</span>
						  </div>
						  <div class="two pl-0 pr-3 py-2 align-self-stretch">
							  <span class="yr">{{p.publicado  | date:"Y" }}</span>
							  <span class="mos">{{p.publicado  | date:"M" }}</span>
						  </div>
					  </div>
					  <p>{{ p.autor.first_name }} {{ p.autor.last_name }}</p>
					  <p><a href="{% url 'showArt' p.slug %}#show" class="btn btn-primary">Leer más</a></p>
				  </div>
				  </div>
			  </div>
  
			  {% endfor %}
		  </div>
		</div>
	  </section>
  
{% endblock extra_content %}

{% block extra_scripts %}

{% endblock extra_scripts %}