{% extends "./../base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Contacto
{% endblock title %}

{% block extra_head %}
<meta name="description" content="">
<meta name="keywords" content="">
<style>

</style>
{% endblock extra_head %}

{% block extra_content %}

<section class="ftco-section contact-section">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-12 mb-4">
        <h2 class="h3">Información de contacto</h2>
      </div>
      <div class="w-100"></div>
      <div class="col-md-3">
        <p><span>Dirección:</span> Calle 49B #3428 e/ 34 y 49A, Kohly, Playa</p>
      </div>
      <div class="col-md-3">
        <p><span>Teléfono:</span> <a href="tel://+5372041503">	+53 7204-1503 (Pizarra) Ext. 108</a></p>
      </div>
      <div class="col-md-3">
        <p><span>Email:</span> <a href="presidencia.transconsul@enet.cu">presidencia.transconsul@enet.cu</a></p>
      </div>
      <div class="col-md-3">
        <p><span>Website</span> <a href="#">transconsulsa.com</a></p>
      </div>
    </div>
    <div class="row block-9 no-gutters">
      <div class="col-lg-6 order-md-last d-flex">
        <form action="#" class="bg-light p-5 contact-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Correo">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Asunto">
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mensaje"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Enviar" class="btn btn-primary py-3 px-5">
          </div>
        </form>
      
      </div>

      <div class="col-lg-6 d-flex">
        <div id="map" class="bg-white">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1000.7968373521453!2d-82.41011780517508!3d23.110856497007852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88cd77cd4c468afd%3A0xbff964ee1cddcf48!2sOficinas%20Transconsul!5e0!3m2!1ses!2scu!4v1727698605532!5m2!1ses!2scu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock extra_content %}

{% block extra_scripts %}

{% endblock extra_scripts %}