{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Transconsul S.A. - {% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="author" content="Carlos Brayan Rámila Chorens" >

    <link rel="shortcut icon" href="{% static '/assets/img/icon_oficial.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	{% include './styles.html' %}

	{% block extra_head %}
  {% endblock extra_head %}

  </head>
  <body>
    
	{% include './navbar.html' %}
    
	<!-- Banner -->
    <div class="hero-wrap js-fullheight" style="background-image: url({% static '/images/banner.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
          	<h2 class="subheading">Bienvenidos a TraNsCOnSuL S.A.</h2>
          	<h1>Abogados luchan por su
						  <span
						     class="txt-rotate"
						     data-period="2000"
						     data-rotate='[ "Libertad.", "Derecho.", "Caso.", "Custodia." ]'></span>
						</h1>
            <!-- <h1 class="mb-4">Attorneys Fighting For Your Freedom</h1> -->
            <p class="mb-4">Servicios profesionales de asistencia y asesoría legal</p>
            <p><a href="{% url 'reservar' %}#show" id="obtener_ayuda" class="btn btn-primary mr-md-4 py-2 px-4">Obtenga asesoramiento legal <span class="ion-ios-arrow-forward"></span></a></p>
          </div>
        </div>
      </div>
    </div>
  <a name="show" ></a>
	{% block extra_content %}
	{% endblock extra_content %}
		
	<!-- subscriptcion -->
  
  {% if request.path != '/about' %}
	{% include './subscripcion.html' %}
	{% endif %}

	{% include './footer.html' %}


	{% include './scripts.html' %}
	{% include '../madmin/notify.html' %}

  {% block extra_scripts %}
  {% endblock extra_scripts %}
  

  </body>
</html>