{% load static %}
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="logo"><a href="#"><img src="{% static '/images/logo_oficial.png' %}" width="200px" alt="" srcset=""></a></h2>
            <p>TRANSCONSUL S.A. es una sociedad mercantil de capital cubano especializada en la prestación de servicios jurídicos.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="https://twitter.com/transconsul"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="https://www.facebook.com/profile.php?id=100090044904026"><span class="icon-facebook"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Servicios</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Family Law</a></li>
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Business Law</a></li>
              <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Insurance Law</a></li>
      
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Contacto</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">Calle 49B #3428 e/ 34 y 49A, Kohly, Playa</span></li>
                  <li><a href="tel:+5372041503"><span class="icon icon-phone"></span><span class="text">+53 7204-1503 (Pizarra) Ext. 108</span></a></li>
                  <li><a href="mailto:presidencia.transconsul@enet.cu"><span class="icon icon-envelope"></span><span class="text">presidencia.transconsul@</span></a></li>
                </ul>
              </div>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Horas de trabajo</h2>
            <div class="opening-hours">
                <h4>Días de apertura:</h4>
                <p class="pl-3">
                    <span>Lunes – Viernes : 9am a 8 pm</span>
                    <span>Sábado : 9am a 5 pm</span>
                </p>
                <h4>Vacaciones:</h4>
                <p class="pl-3">
                    <span>Todos los domingos</span>
                    <span>Todos los días festivos oficiales</span>
                </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Desarrollado <i class="icon-pc color-danger" aria-hidden="true"></i> por <a href="https://uci.cu" target="_blank">UCI</a>
</p>
        </div>
      </div>
    </div>
  </footer>