{% load static %}
<nav class="navbar px-md-0 navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static '/assets/img/logo_oficial.png' %}" width="250px" alt="" srcset=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item {% if request.path == '/home/' %} active {% endif %}"><a href="{% url 'home' %}" class="nav-link">Inicio</a></li>
          <li class="nav-item"><a href="{% url 'showAbout' %}#show" class="nav-link">Nosotros</a></li>
          <li class="nav-item"><a href="{% url 'showService' %}#show" class="nav-link">Servicios</a></li>
          <li class="nav-item"><a href="{% url 'showBlog' %}#show" class="nav-link">Blog</a></li>
          <li class="nav-item"><a href="{% url 'showtestimonio' %}#show" class="nav-link">Contacto</a></li>
          {% if request.user.is_authenticated %}

          <li class="nav-item cta" style="border-radius: 0px !important;"><a href="{% url 'reservar' %}#show" class="nav-link py-1" style="border: 2px solid #ffffff; background-color: #00897B; border-radius: 0px !important;">Cita</a></li>
          
          <li class="nav-item cta dropdown" style="border-radius: 0px !important;">
            <a href="#" class="nav-link dropdown-toggle py-1" style="border: 2px solid #ffffff; background-color: #00897B; border-radius: 0px !important;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{% if request.user.avatar %}/media/{{request.user.avatar}}{% else %}{% static '/assets/img/icon_oficial.png' %}{% endif %}" alt="avatar" class="rounded" srcset="" height="25px"> {{ request.user }}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'reservar' %}#show"><i class="icon icon-phone mr-2"></i> Reservar</a>
                <a class="dropdown-item" href="{% url 'showCita' %}#show"><i class="icon icon-phone mr-2"></i> Citas</a>

                <a class="dropdown-item" href="{% url 'profile' %}#show"><i class="icon icon-user mr-2"></i> Cuenta</a>
                {% if request.user.is_staff %}

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="admin"><i class="icon icon-cogs mr-2"></i> Administrar</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <form action="{% url 'account_logout' %}" method="post">
                    {% csrf_token %}
                    <button class="dropdown-item" type="submit"><i class="icon icon-sign-out mr-2"></i> Salir</button>
                </form>
              </div>
          </li>
          
          {% else %}
            <li class="nav-item cta" style="border-radius: 0px !important;"><a href="{% url 'account_login' %}" class="nav-link bg-transparent py-1" style="border: 4px solid #00897B !important; color: #00897B !important; border-radius: 0px !important; padding: 5px 20px !important;">Entrar</a></li>
            <li class="nav-item cta" style="border-radius: 0px !important;"><a href="{% url 'account_signup' %}" class="nav-link bg-transparent py-1" style="border: 4px solid #00897B !important; color: #00897B !important; border-radius: 0px !important; padding: 5px 20px !important;">Registrarse</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
<!-- END nav -->